In [3]:
import pandas as pd
import nssstats

In [2]:
appraisal = pd.read_csv('../data/appraisal_2017.csv')
appraisal.head(3)

   council_district  total_appr  finished_area  year
0                21     99600.0         1199.0  2017
1                29     75600.0         1278.0  2017
2                 6    416300.0         1984.5  2017